.header-container {
    background: linear-gradient(90deg,rgb(27, 52, 197) 0%, rgb(51, 81, 255) 50%, rgb(24, 105, 255) 100%);
    min-width: 100vw;
    color: white;
    font-weight: bolder;
    
    h2 {
        margin: 0;
        padding: 1rem;
    }
}